div[data-player] {
	display:none;
}

#next-player {
	visibility: hidden;
}

.won {
	/* vertical align */
	color: white;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.win-mafia {
	background: red;
}

.win-town {
	background: green;
}

.game-title {
	font-family: "Kaushan Script", cursive;
}

/* toast */
.toast {
  color: #000;
  line-height: 1.5;
  margin-bottom: 1em;
  padding: 1.25em;
  position: absolute;
  right: -300px;
  bottom: 1em;
  transition: 0.15s ease-in-out;
  width: 260px;
}

.toast.on {
  transform: translateX(-300px);
}

.close {
  cursor: pointer;
  float: right;
  font-size: 1.25rem;
  line-height: 1;
  margin-left: 1em;
  opacity: .8;
}

.jam {
  background-color: #99004d;
  color: #fff;
}